<div id="submit-hub-container" class="hide">
    <div id="before-major-container" class="col-lg-12 col-md-12 col-sm-12">
        <div class='action-header'>Classes you have left on the Hub</div>
    </div>
    <div id="hub-container-container" class="row col-lg-12 col-md-12 col-sm-12">
        <div id="hub-container" class="col-lg-8 col-md-8 col-sm-8">
            <div class="hub-area">Philosophical, Aesthetic, and Historical Interpretation</div>
            <div>Philosophical Inquiry and Life's Meanings (<span id='PILM'></span> credits)</div>
            <div>Aesthetic Exploration (<span id='AE'></span> credits)</div>
            <div>Historical Consciousness (<span id='HC'></span> credits)</div>
            <div class="hub-area">Scientific and Social Inquiry</div>
            <div>Scientific Inquiry (<span id='SCI-I'></span> credits)</div>
            <div>Social Inquiry (<span id='SOC-I'></span> credits)</div>
            <div>Scientific Inquiry II or Social Inquiry II (<span id='SCI-IISOC-II'></span> credits)</div>
            <div class="hub-area">Quantitative Reasoning</div>
            <div>Quantitative Reasoning I (<span id="QR-I"></span> credits)</div>
            <div>Quantitative Reasoning II (<span id="QR-II"></span> credits)</div>
            <div class="hub-area">Diversity, Civic Engagement, and Global Citizenship</div>
            <div>The Individual In Community (<span id="IC"></span> credits)</div>
            <div>Global Citizenship and Intellectual Literacy (<span id="GCIL"></span> credits)</div>
            <div>Ethical Reasoning (<span id="ER"></span> credits)</div>
            <div class="hub-area">Communication</div>
            <div>First-Year Writing Seminar (<span id="FYWR"></span> credits)</div>
            <div>Writing, Research, Inquiry (<span id="WRI"></span> credits)</div>
            <div>Writing-Intensive Course (<span id="WIC"></span> credits)</div>
            <div>Oral or Signed Communication (<span id="OSC"></span> credits)</div>
            <div>Digital or Multimedia Expression (<span id="DME"></span> credits)</div>
            <div class="hub-area">Intellectual Toolkit</div>
            <div>Critical Thinking (<span id="CT"></span> credits)</div>
            <div>Research and Information Literacy (<span id="RIL"></span> credits)</div>
            <div>Teamwork and Collaboration (<span id="TC"></span> credits)</div>
            <div>Creativity and Innovation (<span id="CI"></span> credits)</div>
        </div>
        <div id="hub-classes" class="col-lg-4 col-md-4 col-sm-4">
            
        </div>
    </div>
    <div id="after-major-container" class="col-lg-4 col-md-4 col-sm-4">
        <button id="submit-hub-btn" type="button" class="submit-btn btn btn-primary">Check out what classes to take!</button>
    </div>
</div>
