{% load static %}

<!DOCTYPE>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>BuHub</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="shortcut icon" type="image/png" href="/static/courses/imgs/noun_book.png">
		<link rel="icon" type="image/png" href="/static/courses/imgs/noun_book.png">
		<link rel="stylesheet" href="{% static "courses/css/base.css" %}">
	</head>
	<body>
		<div class="container">
			Hello
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
