{% load static %}

<!DOCTYPE>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>BuHub</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="shortcut icon" type="image/png" href="/static/courses/imgs/noun_book.png">
		<link rel="icon" type="image/png" href="/static/courses/imgs/noun_book.png">
		<link rel="stylesheet" href="{% static "courses/css/base.css" %}">
	</head>
	<body>
		<div id="mainContainer" class="container">
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="/static/courses/javascript/base.js"></script>



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BU Hub Calculator</a>
    </div>

    <!--
    <div class="collapse navbar-collapse" id="myNavbar">
     
     <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="index.html">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul> 
      <ul class="nav navbar-nav navbar-right"> 
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div> -->
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="/question1">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Question 1</h1>

      <form> 

      <p>Which AP classes do you have credit from?</p>

      <input type="checkbox"> AP Art History <br>
      <input type="checkbox"> AP Biology <br>
      <input type="checkbox"> AP Calculus AB <br>
      <input type="checkbox"> AP Calculus BC <br>
      <input type="checkbox"> AP Chemistry <br>
      <input type="checkbox"> AP Chinese Language & Culture <br>
      <input type="checkbox"> AP Computer Science A <br>
      <input type="checkbox"> AP Computer Science Principles <br>
      <input type="checkbox"> AP Economics: Macro <br>
      <input type="checkbox"> AP Economics: Micro <br>
      <input type="checkbox"> AP Language & Composition <br>
      <input type="checkbox"> AP Literature & Composition <br>
      <input type="checkbox"> AP Environmental Science <br>
      <input type="checkbox"> AP European History <br>
      <input type="checkbox"> AP French Language & Culture <br>
      <input type="checkbox"> AP German Language <br>
      <input type="checkbox"> AP Government: Comparative <br>
      <input type="checkbox"> AP Government: United States <br>
      <input type="checkbox"> AP Human Geography <br>
      <input type="checkbox"> AP Italian Language & Culture <br>
      <input type="checkbox"> AP Japanese Language <br>
      <input type="checkbox"> AP Latin: Virgil <br>
      <input type="checkbox"> AP Latin: Literature <br>
      <input type="checkbox"> AP Music Theory<br>


<a href="/page3">Next Question</a>




<!-- DROP DOWN MENU 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>  
      <a class="navbar-brand" href="#">Majors/Minors</a>
    </div>

    
    <div class="collapse navbar-collapse" id="myNavbar">
     
     <ul class="nav navbar-nav">
        <li class="active"><a href="#">CS</a></li>
        <li><a href="index.html">ENG</a></li>
        <li><a href="#">PSYCH</a></li>
        <li><a href="#">ART</a></li>
      </ul> 
      <ul class="nav navbar-nav navbar-right"> 
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div> 
  </div>
</nav> DROP DOWN MENU END -->

      </form>



      <hr>

    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>
<!--
<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer> -->

	</body>
</html>
